// Define variable defaults
$body-bg: #d5cfc1; //ece3de
$body-color: #112725;

$primary: #435c56; //#88a08a
$primary-bg-subtle: #ccd7d1;

$light: #ece3de;

@import 'node_modules/bootstrap/scss/bootstrap.scss';